* {
    font-family: 'Ubuntu', sans-serif;
    

} 

header{
    background-color: #2E948A;
    color: #ffffff;
    height: 7.3125rem; 
    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 35%;
}
.logo img{
    padding-top: 1.25rem;
     margin-left: 0.3125rem;
}
header ul {
    display: flex;
}

header ul li{
    list-style: none;
    margin-top: 27px;
    margin-left: 27px;
    
}
header ul li a {
    display: flex;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: #ffffff;
}
.banner {
    display: flex;
    align-items: center;
    margin: 3.125rem 6.25rem;
}
.banner div{
    justify-content: center;
    text-align: left;
    margin: 0% 10% 0% 10%
}
.banner h1 {
font-weight: 700;
font-size: 3.75rem;
line-height: 4.3125rem;
color:#009688;
text-transform: uppercase;
}
.banner h3 {
font-weight: 400;
font-size: 1.6875rem;
line-height: 1.9375rem;
color: #555555;
}
.blog {
    background-color: #E5E5E5;
    padding: 5% 0% 5% 0%;
}
.blog .conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);

}
.blog div {
    align-items: center;
    padding: 3% 5% 3% 5%;
}

.blog h2 {
    color: #FF4081;
}
.retangulo {
    width: 31.25rem;
    background-color: #c4c4c4;
    height: 18.75rem;
}
footer{
    display: flex;
    background-color: #2E948A;
    height: 12.9375rem;
    justify-content: space-evenly;
    max-width: 100%;
}
footer ul{
list-style: none;
width: 4.4375rem;
height: 5.1875rem;
margin-top: 3.3125rem;
}
footer .lista ul li{
    line-height: 1.4363rem;
    font-size: 1.25rem;
    padding-top: 0.625rem;
}
footer .lista ul li a{
    color: #ffffff;
    text-decoration: none;
}
footer button{
    border-radius: 3.875rem;
     color: #ffffff;
     background-color: #2E948A; 
     border: solid #ffffff;
     width: 18.0625rem;
     height: 3.1875rem;
     font-weight: 400;
     cursor: pointer;
     align-items: center;
     font-size: 1.25rem;
     font-style: regular;
}
.paozinho button{
    display: flex;       
}
div .superior{
    margin-top: 3.125rem;
    padding-left: 25%;    
}
div .baixo{
    margin-top: 0.8125rem;
    padding-left: 21%;
}
.rodape{
    margin-top: 3.3125rem;
}
.lista {
    padding: 0rem 3.125rem 0rem 3.125rem;
}
@media (max-width: 712px) {
    
    header{
        flex-wrap: wrap;
          gap: 0;
         height: 10.9375rem;
         flex-direction: column;
         justify-content: center;
         align-items: center;
    } 
    .logo img{
        padding-top: 0.3125rem;
        margin: 0;
    }
        
    .banner {
        display: flex;
        flex-wrap: wrap;
        margin: 5% 0%;
        padding: 0rem;
    }
    .banner h1 {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 1.875rem;
        color:#009688;
        text-transform: uppercase;
    }
    .banner h3 {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: #555555;
    }
    .banner img {
        width: 100%;
    }
    .blog .conteudo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
    .blog .conteudo img {
        width: 80%;
    }
    .blog h2 {
        color: #FF4081;
        font-size: 1.5625rem;
        line-height: 1.5rem;
    }
    .retangulo {
        width: 100%;
    }
    footer{
        flex-wrap: wrap;
         flex-direction: column; 
        align-items: center;
    }
    .lista{
        height: 40px;
        padding: 0;
        width: 312px;
    }
    .lista ul{
       display: flex;
       padding: 0;
       margin: 0;
       gap: 90%;
    }
    .rodape{
         margin-top: 0;
    }
    div .superior{
        margin: 0;
        width: 160px;
        font-size: 14px;
        margin-right: 15px;
        padding-left: 10%;
    }
    div .baixo{
        margin: 0;
        width: 160px;
        font-size: 14px;
        padding-left: 6%;
    }
    .paozinho{
        display: flex;
    }
}
@media (min-width:713px) and (max-width: 1024px) {
    header{
        flex-wrap: wrap;
        gap: 0;
        height: 10.9375rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .logo img{
        padding-top: 0.3125rem;
        margin: 0;
    }
    .banner {
        display: grid;
        grid-template-columns: 21.875rem 15.625rem;
        align-items: center;
    }
    .retangulo {
        width: 100%;
    }
    .banner img {
        width: 100%;
    }
    .banner h1 {
        font-weight: 700;
        font-size: 35px;
        line-height: 1.875rem;
        color:#009688;
        text-transform: uppercase;
    }
    .banner h3 {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: #555555;
    }
    .blog .conteudo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
    footer {
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center;
    }
    .lista {
        height: 40px;
        padding: 0;
        width: 312px;    
    }
    .lista ul{
        display: flex;
        padding: 0;
        margin: 0;
        gap: 90%;
    }
    .rodape {
        margin-top: 0;      
    }
    div .superior{
        margin: 0;
        width: 160px;
        font-size: 14px;
        margin-right: 15px;
        padding-left: 10%;
    }
    div .baixo{
        margin: 0;
        width: 160px;
        font-size: 14px;
        padding-left: 6%;
    }
    .paozinho{
        display: flex;
    }
}
